<ion-header>
  <ion-toolbar>
    <ion-title>Add Location</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/pages/login"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addLocation(location)" routerLink="../home" routerDirection="forward">Save Changes</ion-button>
  <ion-button block clear (click)="deleteLocation(location)" routerLink="../home" routerDirection="forward">Delete</ion-button>
<ion-item>
  
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="MM/DD/YYYY" min="2019" picker-format="MMMM DD YYYY" [(ngModel)]="location.title"></ion-datetime>
  </ion-item>
</ion-item>

<ion-item>
  <ion-label>
    Compliment:
  </ion-label>
  <ion-input [(ngModel)]="location.content" placeholder="content...."></ion-input>
  
</ion-item>

<ion-card>
  <ion-button size="large" (click)="openCamera()">Take Picture</ion-button>
  <ion-card-content>
    Picture:
    <img [src]="base64Image" *ngIf="base64Image">
  </ion-card-content>
  <ion-button size="large" (click)="addLocation(location)" routerLink="../home" routerDirection="forward">Add Location and Content</ion-button>
</ion-card>
</ion-content>
