<ion-header>
  <ion-toolbar>
    <ion-title class="title-stuff center">Complimentary</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content>
        <ion-item>
            <ion-label position="stacked" class="sub-title center">My best compliment was:</ion-label>
            <ion-input [(ngModel)]="compliments.best" placeholder="I have none...."></ion-input>
        </ion-item>
        <ion-button size="large" routerLink="/add" routerDirection="forward">I just complimented someone!</ion-button>
        <ion-item>
            <ion-label position="stacked" class="sub-title center">Compliments today:</ion-label>
            <ion-input [(ngModel)]="compliments.today" placeholder="I have none...."></ion-input>
			<button ion-button large full color="dark" (click)="refresh()">Refresh</button>
        </ion-item>
        <ion-item>
            <ion-label position="stacked" class="sub-title center">Compliments this week:</ion-label>
            <ion-input [(ngModel)]="compliments.week" placeholder="I have none...."></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked" class="sub-title center">Best compliment received:</ion-label>
            <ion-input [(ngModel)]="compliments.received" placeholder="I have none...."></ion-input>
        </ion-item>
        <ion-button size="large" (click)="loadMapPage()" routerLink="../home" routerDirection="forward">Where my compliments at?</ion-button>
		<ion-content>
      <ion-button size="large" (click)="updateCompliments(compliments)" routerLink="../login" routerDirection="forward">Save Compliments</ion-button>
      </ion-content>
    </ion-content>
